@font-face {
    font-family: 'Krub';
    src: url('/style/Fonts/Krub-Regular.ttf');
}
@font-face {
    font-family: 'Abril Fatface';
    src: url('/style/Fonts/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family: 'Krub Light';
    src: url('/style/Fonts/Krub-Light.ttf');
}



header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    position: fixed;
    top:0px;
    width: 100%;
    font-weight: bold;
    font-family: 'Krub';
    font-size: 25px;
    z-index: 3;
    background-color: white;
    padding: 10px;
}
body {
    color:rgb(0, 0, 0);
    background-size:100%;
    background-repeat: no-repeat;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}




footer{
    margin-top: 15%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
}

.footerb{
    display: flex;
    font-family: 'Krub';
    font-size: 17px;
    align-items: center;
    margin-bottom: 3%;
    justify-content: center;

}

