@font-face {
    font-family: 'Krub';
    src: url('/style/Fonts/Krub-Regular.ttf');
}
@font-face {
    font-family: 'Abril Fatface';
    src: url('/style/Fonts/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family: 'Krub Light';
    src: url('/style/Fonts/Krub-Light.ttf');
}



header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    position: fixed;
    top:0px;
    width: 100%;
    font-weight: bold;
    font-family: 'Krub';
    font-size: 25px;
    z-index: 3;
    background-color: white;
    padding: 10px;
}
body {
    color:rgb(0, 0, 0);
    background-image:url("FondProjets.png");
    background-size:100%;
    background-repeat: no-repeat;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}


.PrezProjets p{
    margin-left: 6%;
    margin-right: 30%;
    font-family: 'Krub';
    font-size: 25px;
    color: white;
}

.ColProjetsGauche{ 
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;

}

.ColProjetsGaucheLien{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
    font-family: 'Krub';
    margin-left: 15%;
    margin-right: 15%;
}
figcaption{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 12%;
    font-family: 'Krub';
    font-size: 16px;
}



.ColProjetsCentre{
    display: flex;
    justify-content: center;
    font-family: 'Krub';
    font-size: 16px;
    text-align: justify;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 1%;
}


.ColProjetsGauche p{ 
    font-family: 'Krub';
    margin-left: 15%;
    margin-right: 15%;
}

.ColProjetsDroite{ 
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.ColProjetsDroite p{ 
    font-family: 'Krub';
    margin-left: 15%;
    margin-right: 15%;
}
h2{
    text-align: left;
    margin-top: 9%;
    margin-left: 6%;
    font-family: 'Krub';
    font-size: 30px;
    color: white;
}

b{
    color: blue;
}


.hidden {display:none;}

button{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    border: none;
    transition-duration: 0.4s;
    background-color:white;
    font-family: 'Krub';
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    transition-duration: 0.4s;
    color: rgb(255, 0, 0);
  }



  footer{
    margin-top: 15%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
}

.footerb{
    display: flex;
    font-family: 'Krub';
    font-size: 17px;
    align-items: center;
    margin-bottom: 3%;
    justify-content: center;

}

